<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- XML Engine Configuration Start-->
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--Paypal-->
  <paypal>
    <settings>
      <add name="endpoint" value="https://api.sandbox.paypal.com/" />
      <add name="oauth.EndPoint" value="https://api.sandbox.paypal.com/" />
      <add name="connectionTimeout" value="360000" />
      <!-- The number of times a request must be retried if the API endpoint is unresponsive -->
      <add name="requestRetries" value="1" />
      <add name="ClientID" value="EBWKjlELKMYqRNQ6sYvFo64FtaRLRR5BdHEESmha49TM" />
      <add name="ClientSecret" value="EO422dn3gQLgDbuwqTjzrFgFtaRLRR5BdHEESmha49TM" />
    </settings>
  </paypal>
  <!--End-->
  <appSettings>
    <add key="TouricoUserId" value="Rays202" />
    <add key="TouricoPassword" value="111111" />
    <add key="TouricoVersion" value="8.5" />
    <add key="TravcoUserId" value="159BED" />
    <add key="TravcoPassword" value="240213DE59" />
    <add key="TravcoLanguage" value="en-GB" />
    <add key="PassengersCount" value="5" />
    <add key="HotelBedsURI" value="http://testapi.interface-xml.com/appservices/ws/FrontendService" />
    <add key="HotelBedsUserId" value="ALRIYADHSA45070" />
    <add key="HotelBedsPassword" value="ALRIYADHSA45070" />
    <add key="RTCDB" value="Data Source=meis007.db.8304577.hostedresource.com;Initial Catalog=meis007;User Id=meis007;Password=Rays1234!" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="ReservationsServiceSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="900000" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="500000" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHotelFlow" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="500000" maxBufferPoolSize="524288" maxReceivedMessageSize="500000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="HotelAvailabilityServiceSoap11Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="HotelBookingRequestServiceSoap11Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="HotelCancellationDetailServiceSoap11Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://demo-hotelws.touricoholidays.com/HotelFlow.svc/bas" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelFlow" contract="IHotelFlow" name="BasicHttpBinding_IHotelFlow" />
      <endpoint address="http://demo-wsnew.touricoholidays.com/ReservationsService.asmx" binding="customBinding" bindingConfiguration="ReservationsServiceSoap12" contract="ReservationsServiceSoap" name="ReservationsServiceSoap12" />
      <endpoint address="http://v8apitest1.travco.co.uk:8080/trlinkjws/services/HotelAvailabilityService/" binding="basicHttpBinding" bindingConfiguration="HotelAvailabilityServiceSoap11Binding" contract="HotelAvailabilityServicePortType" name="HotelAvailabilityHttpSoap11Endpoint" />
      <endpoint address="http://v8apitest1.travco.co.uk:8080/trlinkjws/services/HotelBookingRequestService/" binding="basicHttpBinding" bindingConfiguration="HotelBookingRequestServiceSoap11Binding" contract="HotelBookingRequestServicePortType" name="HotelBookingRequestHttpSoap11Endpoint" />
      <endpoint address="http://v8apitest1.travco.co.uk:8080/trlinkjws/services/HotelCancellationDetailService/" binding="basicHttpBinding" bindingConfiguration="HotelCancellationDetailServiceSoap11Binding" contract="HotelCancellationDetailServicePortType" name="HotelCancellationDetailHttpSoap11Endpoint" />
    </client>
  </system.serviceModel>
  <!-- XML Engine Configuration End-->
  <connectionStrings>
    <add name="meis007ConnectionString" connectionString="server=meis007.db.8304577.hostedresource.com;uid=meis007;pwd=Rays1234!;Database=meis007" providerName="System.Data.SqlClient" />
    <!--
    <add name="meis007ConnectionString" connectionString="Data Source=(local);Initial Catalog=meis007;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="meis007Entities" connectionString="metadata=res://*/App_Code.meis007Model.csdl|res://*/App_Code.meis007Model.ssdl|res://*/App_Code.meis007Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=meis007;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="meis007Entities" connectionString="metadata=res://*/App_Code.meis007Model.csdl|res://*/App_Code.meis007Model.ssdl|res://*/App_Code.meis007Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=meis007.db.8304577.hostedresource.com;Initial Catalog=meis007;User ID=meis007;Password=Rays1234!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime executionTimeout="300"></httpRuntime>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="~/Account/Login.aspx" name=".EQXAUTH" timeout="50000000" />
    </authentication>
    <sessionState cookieless="false" mode="InProc" timeout="20"></sessionState>
  </system.web>
  <location path="Basket">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Bookings">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="CurrentUser">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Orders">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>