#carouselh{
 background-color: #fff;
 border : none;
}

#carouselh .jscarousal-contents-horizontal
{
    min-height: 135px;
}

#carouselh .thumbnail-text {
 text-align: center;
 padding-top: 0;
}

#carouselh .thumbnail-text .name{
 color: red;
 font-size: 12px;
}

#carouselh .thumbnail-text .price{
 font-size: 10px;
 display: block;
}

#carouselh .jscarousal-horizontal-back, #carouselh .jscarousal-horizontal-forward {
 background-color: #fff;
 top: 0px;
}

#content-3 .span9
{
    width: 750px;
    display: inline-block;
    float: left;
}

#content-3 .span3{
   width: 180px;
   display: inline-block;
   float: right;
   
}
#content-3 .span3 h3
{
    margin: 60px 0 0 45px;
}
