#screenshot
{
    width: 170px;
}
#screenshot img
{
    width: 170px;
    height: 137px;
}
#screenshotCategory img
{
    width: 100px !important;
    height: 100px !important;
}
div[id*="foo"] a
{
    width: 152px;
    height: px;
}
.col_10
{
    width: 220px;
}
#mainWrapper
{
    width: 1180px;
}
#hotel_search
{
}
#camera_wrap_1
{
    width: 70%;
    float: right;
}
#hotel-search
{
    float: left;
    height: 430px;
    width: 30%;
    background-image: url("/rtbtc/images/template/SearchPanel3.jpg")
}


