* {
 margin: 0;
 padding: 0;
}

.clear{
 clear: both;
}

.left{
  float: left;
}

.right{
  float: right;
}

body {
 margin: 0px;
 padding: 0px;
 font-family: Helvetica, Arial, Tahoma, sans-serif;
 /** background-color: #F0F0F0;**/
 background-color: #F6F9F9;
 height: 100%;
 font-smooth: always;
 -webkit-font-smoothing: antialiased;
 display: block;
}

#wrapper {
 margin: 0 auto;
 width: 100%;
}

#header-content{
 padding: 0px;
 margin: 0px auto 0px auto;
 height: 128px;
 display: block;
}

#header{
 width: 950px;
 margin: 0 auto;
 padding: 0px;
 height: 128px;
}

.logo {
 float: left;
 width: 294px;
 margin-top: 15px;
}

.header-right-link {
 float: right;
 width: 652px;
}

.top-sign-up {
 float: right;
 display: inline;
 margin: 20px 2px 0 0;
}

.navigation {
 font-family: 'Century Gothic', Arial, Tahoma, sans-serif;
 text-transform: uppercase;
 font-size: 15px;
 padding: 15px 0px 5px 0px;
 font-smooth: always;
 -webkit-font-smoothing: antialiased;
 text-shadow: 0 0 1px rgba(0,0,0,0.3);
 float: left;
 margin-top: 37px;
}

.navigation ul {
 padding: 0px;
 margin: 0px;
 list-style: none;
}

.navigation ul li {
 position: relative;
 z-index: 1;
 float: left;
 display: inline;
 padding: 0px;
 padding: 0 2px;
}

.navigation ul li.active a{
  border-bottom: solid 1px #ccc;
}
    
.navigation ul li a {
 line-height: 37px;
 color: #595959;
 text-decoration: none;
 padding-bottom: 3px;
 margin-right: 15px;
}

#middle-content {
 
}

#container{
 min-height: 470px;
 margin: 0 auto;
 width: 950px;
 clear: both;
 border-top: solid 1px #000;
 border-bottom: solid 1px #000;
 padding-top: 10px;
}

#footer-content{
 padding-bottom: 15px;
 font-family: Helvetica, Arial, Tahoma, sans-serif;
 font-size: 13px;
 color: #555555;
 padding-top: 1px;
 width: 100%;
 height: 98px;
}

#footer {
 width: 950px;
 margin: 35px auto 0;
 margin-top: 0px;
}

.footer-navigation{
 float: left;
}

.footer-navigation ul {
 padding: 0px;
 margin: 0px;
 list-style: none;
}

.footer-navigation ul li {
 position: relative;
 z-index: 1;
 float: left;
 display: inline;
 padding: 0px;
 padding: 0 2px;
}

.footer-navigation ul li a {
 line-height: 37px;
 color: #595959;
 text-decoration: none;
 display: inline-block;
}

.footer-navigation ul li span{
  margin: 0 15px;
}

.copy-right{
  float: right;
  padding-top: 10px;
}

#subscribe-block{
  height: 85px;
  width: 70%;
  border: solid 1px #ccc;
  margin: 20px 0 20px 125px;
}   

.div-wrapper{
  margin: 15px;
  
  padding-top: 17px;
}

#hotel-search{
  width: 70%;
  border: solid 1px #ccc;
  margin: 20px 0 20px 125px;
}   

.custom-hide{
  display: none;
}

#hotelsListMain #searchCriteria{
  width: 250px;
  float: left;
  margin-right: 10px;
}

#hotelsListMain #hotelsList{
  width: 670px;
  float: right;
}

#hotelsListMain #searchCriteria #mainSearch{
  border: solid 1px #ccc;
}

#hotelsListMain #searchCriteria #mainSearch .start-date, #hotelsListMain #searchCriteria #mainSearch .end-date{
  width: 77px;   
}

#hotelsListMain #searchCriteria #mainSearch .txtCity{
 width: 177px;
}

#hotelsListMain #searchCriteria .div-wrapper{
 margin: 0;
 padding-top : 17px;
 padding-left : 5px;
 padding-right : 5px;
}

#searchCriteria{
  width: 250px;
  float: left;
  margin-right: 10px;
}

#hotelsList{
  width: 670px;
  float: right;
}

#searchCriteria #mainSearch{

}

#searchCriteria #mainSearch .start-date, #searchCriteria #mainSearch .end-date{
  width: 77px;   
}

#searchCriteria #mainSearch .txtCity{
 width: 177px;
}

#searchCriteria .div-wrapper{
 margin: 0;
 padding-top : 17px;
 padding-left : 5px;
 padding-right : 5px;
 border: solid 1px #ccc;
 margin-top: 20px;
}

#hotelsList .hotel-div{
  margin: 10px 0;
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
}

#hotelsList .hotel-content{
  width: 420px;
  float: left;
}

#hotelsList .hotel-image{
  width: 210px;
  float: right;
}

#hotelsList .hotel-image .price{
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
